.stats-section{
    padding:120px 8%;
    background:white;
    position:relative;
    margin-top:0;
    z-index:10;
    border-top:1px solid rgba(255,255,255,.08);
}

.stats-title{
    text-align:center;
    margin-bottom:60px;
}

.stats-title span{
    color:#ff6b00;
    font-weight:700;
    letter-spacing:2px;
}

.stats-title h2{
    color:black;
    font-size:3rem;
    margin-top:15px;
}


.stats-desc{
    max-width:700px;
    margin:20px auto 0;
    color:#666;
    line-height:1.8;
}


.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
    margin-top:60px;
    padding-top:60px;
}

.stat-item{
    text-align:center;
    transition: .3s ease;
}

.stat-item:hover{
    transform:translateY(-8px);
}

.stat-item:hover .stat-icon{
    transform:rotate(10deg) scale(1.1);
}

.stat-item:hover h3{
    color:#ff6b00;
}

.stat-icon{
    width:70px;
    height:70px;
    margin:0 auto 15px;
    border-radius:50%;
    background:#ff6b00;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:1.8rem;
}

.stat-item h3{
    font-size:3rem;
    color:#021633;
    font-weight:800;
}

.stat-item p{
    color:#666;
    margin-top:8px;
    font-size:1rem;
    font-weight:600;
}
@media(max-width:768px){

    .stats-section{
        padding:80px 20px;
    }

    .stats-title h2{
        font-size:1.5rem;
    }

    .stats-grid{
        grid-template-columns:repeat(2,1fr);
        gap:40px 20px;
        margin-top:40px;
        padding-top:30px;
    }

    .stat-icon{
        width:60px;
        height:60px;
        font-size:1.5rem;
    }

    .stat-item h3{
        font-size:1.8rem;
    }

    .stat-item p{
        font-size:.8rem;
    }

}